<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <application
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name_for_icon"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="false"
    android:theme="@style/AppTheme">
    <activity
      android:name=".NavyDecoderPlus"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <!-- Displays search results for a selected decode category. -->
    <activity
      android:name=".controller.SearchableDecoderActivity"
      android:exported="false"
      android:windowSoftInputMode="stateVisible" />

    <!-- Unique activity for the RFAS codes which are not searchable -->
    <activity
      android:name="com.crashtestdummylimited.navydecoderplus.controller.RfasActivity"
      android:exported="false" />

    <!-- Displays the information for the decoded item. -->
    <activity
      android:name="com.crashtestdummylimited.navydecoderplus.controller.SelectedItemActivity"
      android:exported="false" />

    <!-- Provides search suggestions for words and their definitions. -->
    <provider
      android:name="com.crashtestdummylimited.navydecoderplus.controller.DecodeProvider"
      android:authorities="com.crashtestdummylimited.navydecoderplus.DecodeProvider"
      android:exported="false" />

  </application>

</manifest>
